<h4>Welcome XcooBee Developers!</h4>

<p>This is an example project that brings together a few areas of XcooBee to show you solutions that you can copy into
  your own projects easily.</p>
<p><a href="/settings">Update configuration settings with your values to make things workable.</a></p>
<p>Each of the menu links above will take you to one specific example area for you to explore.</p>
<p>You will need to have an active XcooBee account to use the examples with your own data. We recommend that you create
  a Professional level account as this is needed to work with contactless payments.There will be no charges if you use
  test keys.</p>
<p>This project is based on NodeJS + ExpressJS and we are using the following main XcooBee tools:</p>
<ul>
  <li class="mb-2"><a href="https://github.com/XcooBee/xcoobee-js-sdk" target="_blank">XcooBee Javascript SDK</a></li>
  <li><a href="https://github.com/XcooBee/payment-sdk-js" target="_blank">XcooBeePayment SDK for JS</a></li>
</ul>
