iframe {
    height: 100%;
    width: 100%;
    border: none;
}

label.error {
    color: red;
}
input.error {
    border-color: red;
}
table{
    margin-top: 24px;
}
.xcoobee_loader {
    display: none;
    width: 100%;
    text-align: center;
    position: absolute;
}
tr{
    border: 1px solid #ccc;
}
.xcoobee_clock span {
    font-weight: bolder;
}
.xcoobee_clock {
    text-align: center;
    margin-top: 8px;
}

.product_item {
    max-width: 300px;
    margin: 0 auto;
}
